@model List<Cinema.Domain.DomainModels.Ticket>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cinema.Domain.CinemaUser> SignInManager
@inject UserManager<Cinema.Domain.CinemaUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-0">
        <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new Ticket</a>
    </div>

    <form asp-action="Index" asp-controller="Tickets">
        <div class="form-group">
            <label class="control-label">Choose date:</label>
            <input type="date" name="dateTicket" id="dateTicket" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Choose date" class="btn btn-primary" />
        </div>
    </form>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Administrator"))
        {
            <form asp-action="ExportAllTickets" asp-controller="Tickets" method="get">
                <div class="form-group">
                    <select asp-items="ViewBag.genres" name="genre" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Export tickets by category" class="btn btn-primary" />
                </div>
            </form>

            <div class="m-0">
                <a class="btn btn-outline-primary" asp-controller="Tickets" asp-action="ExportAllTickets">Export All Tickets</a>
            </div>
        }
    }

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
            }


            <div class="col-md-3 m-4">
                <div class="card" style="width: 22rem; height: 18rem;">


                    <div class="card-body">
                        <h3 class="card-title">@item.movieTitle</h3>
                        <h6>Price: @item.Price</h6>
                        <h6>Genre: @item.MovieGenre.ToString()</h6>
                        <h6>Date: @item.Date.ToString()</h6>
                    </div>

                    <div class="card-footer">

                        <a asp-controller="Tickets" asp-action="AddToShoppingCart" asp-route-id="@item.Id" class="btn btn-success">Add to Card</a>
                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                    </div>
                </div>
            </div>



            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>